*{
  background: #0F0F10;
  font-family: 'Poppins', sans-serif;
}
/* header section */
.header{
  display: flex;
  flex-direction: row;
}
.b-logo img{
  width: 23.5px;
  margin-left: 239px;
  margin-top: 30px;
}
.b-image img{
  width: 217px;
  margin-left: 25px;
  margin-top: -112.5px;
}
.b-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  margin-left: 87px;
}
.nav{
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.nav-left{
  display: flex;
  flex-direction: row;
  gap: 43.5px;
}
.nav-menu{
  color: white;
  font-size: 11.5px;
  font-weight: 700;
}
.nav-btn{
  margin-top: -11px;
  padding-top: 11px;
  text-align: center;
  width: 112px;
  height: 28px;
  border-radius: 6px;
  color: white;
  font-size: 11px;
  background-color: #232328;
}
.on-ear img{
  margin-left: 40px;
  margin-top: 28px;
  width: 290px;
}
.beats-3{
  margin-top: -3px;
  color: white;
  font-size: 46px;
  font-weight: 600;
}
.over{
  margin-top: 27.5px;
  display: flex;
  flex-direction: column;
}
.over-head{
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.over-des{
  margin-top: 14.5px;
  line-height: 23.5px;
  width: 300px;
  color: rgb(185, 185, 185);
  font-weight: 400;
  font-size: 11.5px;
}
.over-btn{
  margin-top: 26px;
  background-color: #232328;
  display: flex;
  flex-direction: row;
  width: 178.5px;
  height: 39.5px;
  border-radius: 5px;
}
.add-btn{
  background: transparent;
}
.add-btn img{
  padding-top: 13px;
  padding-left: 17px;
  width: 14.5px;
  background: transparent;
}
.add-bag{
  padding-top: 13px;
  padding-left: 11px;
  font-size: 11px;
  background: transparent;
  color: whitesmoke;
}
.add-no{
  padding-top: 10px;
  padding-left: 13px;
  font-size: 14.5px;
  font-weight: 700;
  background: transparent;
  color: white;
}
/* company section */
.company{
  margin-top: 92px;
  display: flex;
  flex-direction: row;
}
.apple img{
  padding-top: 4px;
  width: 72.5px;
  margin-left: 296px;
}
.spotify img{
  padding-top: 6px;
  margin-left: 103px;
  width: 72.5px;
}
.amazon img{
  padding-top: 6px;
  margin-left: 102.5px;
  width: 72px;
}
.yt img{
  padding-top: 9px;
  margin-left: 102.5px;
  width: 72.5px;
}
/* specs section */
.specs{
  height: 400px;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.specs-head img{
  width: 152px;
  margin-top: 4.5px;
  margin-left: -8px;
}
.specs-tail{
  display: flex;
  flex-direction: row;
  margin-left: 55px;
}
.specs-left{
  display: flex;
  flex-direction: column;
}
.bt{
  margin-left: 4px;
}
.bt img{
  padding-left: 2px;
  width: 11.5px;
}
.bt .specs-item{
  margin-top: -6px;
}
.bt .specs-des{
  margin-top: 3px;
  font-size: 8.8px;
  color: rgb(185, 185, 185);
}
.bat{
  margin-top: 17px;
  margin-left: -14px;
}
.bat img{
  padding-top: 1px;
  width: 18px;
}
.bat .specs-item{
  margin-top: -1px;
  margin-top: -6px;
}
.bat .specs-des{
  font-size: 9.3px;
  margin-top: 3.5px;
  color: rgb(185, 185, 185);
}
.load{
  margin-left: -10px;
  margin-top: 14px;
}
.load img{
  width: 9.5px;
}
.load .specs-item{
  margin-left: -4px;
  margin-top: -6px;
}
.load .specs-des{
  font-size: 9.5px;
  margin-left: -5px;
  margin-top: 3px;
}
.mic{
  margin-top: 13px;
  margin-left: 5px;
}
.mic img{
  width: 11.5px;
  margin-left: 3px;
}
.mic .specs-item{
  margin-left: -1px;
  margin-top: -4px;
}
.mic .specs-des{
  font-size: 9px;
  margin-left: -1px;
  margin-top: 3px;
}
.specs-item{
  color: white;
  font-size: 11.5px;
  font-weight: 600;
}
.specs-des{
  font-size: 8.5px;
  color: rgb(185, 185, 185);
}
.mic .specs-des{
  width: 90px;
}
.specs-right img{
  width: 218px;
  margin-top: 18px;
  margin-left: 53px;
}
/* case section */
.case{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  margin-top: 73.5px;
  gap: 30px;
}
.case-head img{
  width: 132px;
  margin-left: -7.5px;
}
.case-tail{
  display: flex;
  flex-direction: row;
  width: 50%;
}
.case-left img{
  width: 216px;
  margin-top: 10px;
  margin-left: 65px;
}
.case-right{
  margin-left: 57.5px;
}
.case-des{
  margin-top: 77px;
  width: 180px;
  font-size: 11.5px;
  color: rgb(185, 185, 185);
  line-height: 23px;
}
.case-btn{
  margin-top: 34px;
  width: 113px;
  height:40px;
  border-radius: 6px;
  background-color: #232328;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ex-btn{
  background: transparent;
}
.ex-btn img{
  background: transparent;
  width: 16.5px;
  height: 16.5px;
  margin-left: 1px;
  margin-top: 6px;
}
.info-btn{
  margin-left: 10px;
  font-weight: 300;
  font-size: 11px;
  color: white;
  background: transparent;
}
/* buy now section */
.buynow-bg{
  display: flex;
  flex-direction: column;
  padding-top: 33.5px;
  height: 300px;
}
.buynow{
  margin-left: 244px;
  border-radius: 10px;
  width: 58.5%;
  height: 245px;
  background-color: #16181a;
  display: flex;
  flex-direction: row;
}
.buynow-left{
  width: 50%;
  margin-left: 105px;
  margin-top: 56px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buynow-head{
  margin-top: 1px;
  line-height: 26px;
  width: 175px;
  color: white;
  font-size: 17.5px;
  font-weight: 500;
  background: transparent;
}
.buynow-des{
  margin-top: 12px;
  font-size: 11.5px;
  color: rgb(185, 185, 185);
  background: transparent;
}
.buynow-btn{
  width: 113px;
  height: 40px;
  margin-top: 11px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background: black;
}
.buynow-btn img{
  width: 14.5px;
  background: transparent;
}
.buynow-text{
  font-size: 11px;
  color: white;
  background-color: transparent;
}
.buynow-right{
  background: transparent;
}
.buynow-right img{
  margin-top: 35px;
  margin-left: -115px;
  background: transparent;
  width: 254px;
}
/* choose section */
.choose{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
}
.choose-head img{
  width: 257px;
  margin-top: 24px;
  margin-left: -10px;
}
.choose-tail{
  display: flex;
  flex-direction: column;
}
.choose-three{
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-left: -10px;
}
.choose-two{
  background: transparent;
  display: flex;
  flex-direction: row;  
  gap: 35px;
  margin-top: -12px;
  margin-left: -10px;
}
.choose-1, .choose-2, .choose-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #16181a;
  width: 117px;
  height: 110px;
  border-radius: 5px;
  margin-top: 81px;
}
.choose-top{
  background: transparent;
}
.choose-top img{
  width: 68.5px;
  background: transparent;
  margin-top: -35px;
}
.choose-bot{
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 43px;
  margin-left: 45px;
}
.choose-three .choose-2 .choose-bot{
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: 45px;
}
.choose-three .choose-3 .choose-bot{
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-left: 45px;
}
.choose-two .choose-2 .choose-bot{
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-left: 45px;
}
.choose-left{
  margin-top: 4px;
  background: transparent;
  margin-left: -40px;
}

.choose-color{
  background: transparent;
  color: white;
  font-size: 10px;
  font-weight: 600;
}
.choose-model{
  margin-top: 3px;
  font-size: 10px;
  color: rgb(185, 185, 185);
  background: transparent;
  font-weight: 600;
}
.choose-right{
  width: 25px;
  border-radius: 4px;
  height: 24px;
  margin-top: 17px;
}
.choose-right img{
  width: 11.5px;
  margin-left: 6px;
}


