*{
  background: #0F0F10;
  font-family: 'Poppins', sans-serif;
}
/* header section */
.header{
  display: flex;
  flex-direction: row;
}
.b-logo img{
  width: 23.5px;
  margin-left: 239px;
  margin-top: 30px;
}
.b-image img{
  width: 217px;
  margin-left: 25px;
  margin-top: -112.5px;
}
.b-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  margin-left: 87px;
}
.nav{
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.nav-left{
  display: flex;
  flex-direction: row;
  gap: 43.5px;
}
.nav-menu{
  color: white;
  font-size: 11.5px;
  font-weight: 700;
}
.nav-btn{
  margin-top: -11px;
  padding-top: 11px;
  text-align: center;
  width: 112px;
  height: 28px;
  border-radius: 6px;
  color: white;
  font-size: 11px;
  background-color: #232328;
}
.on-ear img{
  margin-left: 40px;
  margin-top: 28px;
  width: 290px;
}
.beats-3{
  margin-top: -3px;
  color: white;
  font-size: 46px;
  font-weight: 600;
}
.over{
  margin-top: 27.5px;
  display: flex;
  flex-direction: column;
}
.over-head{
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.over-des{
  margin-top: 14.5px;
  line-height: 23.5px;
  width: 300px;
  color: rgb(185, 185, 185);
  font-weight: 400;
  font-size: 11.5px;
}
.over-btn{
  margin-top: 26px;
  background-color: #232328;
  display: flex;
  flex-direction: row;
  width: 178.5px;
  height: 39.5px;
  border-radius: 5px;
}
.add-btn{
  background: transparent;
}
.add-btn img{
  padding-top: 13px;
  padding-left: 17px;
  width: 14.5px;
  background: transparent;
}
.add-bag{
  padding-top: 13px;
  padding-left: 11px;
  font-size: 11px;
  background: transparent;
  color: whitesmoke;
}
.add-no{
  padding-top: 10px;
  padding-left: 13px;
  font-size: 14.5px;
  font-weight: 700;
  background: transparent;
  color: white;
}
